@font-face {
    font-family: "orbitron";
    src: url(Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: "barlow";
    src: url(Barlow-Black.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

.menu{
    width:40%; 
    font-family: "barlow";
    font-size: 1.2em;
    position:sticky;
    top:0;
}

.logo{
    width: 8%;
}
.list-navegacion{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.link:hover{
    color:white;
    text-decoration: underline; 
}

.a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #FFF000ff;
    font-family: "orbitron";
}

section{
    width: 100%;
}
.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-bottom: 20%;
    background-image: url(keyboard-gc1e1d6820_1920.jpg);
}

.container-negocio{
    width: 50%;
}
.container-negocio h2{
    font-size:2.0em;
    width:50%;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.container-negocio p{
    font-size: 2.0em;
    width: 80%;
    font-family: "orbitron";
}
.container-negocio button{
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    color: black;
    background-color:hsla(212, 35%, 49%, 1);
    font-size: 1.2em;
    min-width: 200px;
    font-family: "barlow";
    
}
.container-negocio button:hover{
    background-color: white;
}

.container-nosotros{
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "orbitron";

}
.container-nosotros p{
    display: flex;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

.container-nosotros h4{
    font-size: 1.0em;
    display: flex;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}

.cuadrado1{
    width: 40%;
    height: 350px;
    background-color: hsla(283, 64%, 42%, 1);
    border-radius: 26px;
    display: inline-block;
}
.cuadrado2{
    width: 40%;
    height: 350px;
    background-color: #8927b0;
    border-radius: 26px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

}

.cuadrado3{
    width: 40%;
    height: 350px;
    background-color: hsla(283, 64%, 42%, 1);
    border-radius: 26px;
    display: inline-block;

}

.seccion-info{
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "orbitron";
}
.container-servicios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightslategray; 
    font-family: "orbitron";
}
.container-img-serv{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}
.container-img-serv img{
    width: 80%;
    padding: 0;
}
.container-img-serv h4{
    padding: 0;
}
.container-img-serv:hover{
    background:  hsla(283, 64%, 42%, 1);
}

.footer-contacto{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "orbitron";
}
.footer-contacto h2{
    font-size:1.5em;
    color:white

}
.container-footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.container-info h4{
    color: white;
    font-family: "barlow";
    display: inline-block;
    padding-bottom: 50px;
}

i{
    color: white;
    transform: scale(1);
}

.container-creaciones{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 0.7em;
    font-family: "orbitron";
}

