@font-face {
    font-family: "orbitron";
    src: url(Orbitron-VariableFont_wght.ttf);
}
*{
    font-family: "orbitron";
}

body{
    font-family: "orbitron";
    padding: 0;
    margin: 0;
}

nav{
    width:40%; 
    position: sticky;
    top:50px;
}

.logo{
    width: 8%;
}

.list-navegacion{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.a{
    color: black;
    text-decoration: none;

}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #FFF000ff;
    
}
section{
    width: 100%;
}


.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-bottom: 20%;
    background-image: url(keyboard-gc1e1d6820_1920.jpg);
}
.container-negocio{
    width: 50%;

}
.container-negocio h2{
    font-size:2.0em;
    width:50%;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.container-negocio p{
    font-size: 2.0em;
    width: 80%;
    font-family: "orbitron";
}
.container-negocio button{
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    color: black;
    background-color:hsla(212, 35%, 49%, 1);
    font-size: 1.2em;
}
.container-negocio button:hover{
    background-color:#8927B1ff;
}

.seccion-info{
    background-color: hsla(212, 35%, 49%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.seccion-info h1{
    margin: 50px 0px 0px 0xp;
    margin-top: 30px;
    padding: 0;
    color: white;
}

.container-servicios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;

 
}
.container-img-serv{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}
.container-img-serv img{
    width: 80%;
    padding: 0;
}
.container-img-serv h4{
    padding: 0;
}
.container-img-serv:hover{
    background:  hsla(283, 64%, 42%, 1);
}
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 0.5em;
}